{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<main>
<p>
  This is a website that is made for making the library system online and make things easier to access.
</p>
<p>
    About Us

Welcome to our website! We are a dedicated team of developers who have come together to create this platform using the power of Django and Python. Our journey began with a shared passion for web development and a commitment to building a user-friendly and dynamic site that caters to your needs.
</p></main>
<section>
<main>
Meet Our Team

Our team is comprised of skilled developers and designers who have poured their expertise and creativity into bringing this website to life. Here are the talented individuals behind the scenes:
<br>
[CL Narayanan]: The brain behind the code, our lead developer, who crafted the robust backend using Python and Django, ensuring a seamless user experience.
<br>
[Swagateeka]: The design wizard, responsible for the website's intuitive and visually appealing interface. User experience and aesthetics are their domain.
<br>
[Haripriya Devi]: Our databse manager, who rigorously worked on developing a proper database to make sure the website have so much content.
<br>
We are passionate about what we do and committed to providing you with an exceptional online experience. Thank you for visiting our website, and we hope you enjoy your time here!

</main>
</section>
</body>
</html>
