{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>BibloHiveILS</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href = "/flogin/">Login</a></li>
                <li><a href=/bhome/>Book</a></li>
                <li><a href="/register/">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to BibloHive</h1>
        <h4>This is the Library system of our college. <br>This is made so that you can access all the files from online and view them in your comfortable space.</h4>
        <h4>A library system is a crucial institution for knowledge dissemination and preservation. It offers access to an extensive array of educational materials, both physical and digital, promoting literacy, intellectual growth, and lifelong learning.<br> Modern libraries have adapted to the digital age, expanding their offerings to include e-books, online databases, and multimedia resources, making information more accessible to a broader audience.<br> Librarians play a pivotal role in assisting users in their quest for information, and libraries often function as community centers, hosting workshops, lectures, and cultural events, fostering community engagement.</h4>

        <h4>In essence, libraries are the gatekeepers of knowledge, enabling education and intellectual exploration while serving as a cornerstone for community cohesion. Their continuous evolution ensures that the wealth of human wisdom remains accessible to all, now and in the future.</h4>
    </main>
    <footer>
        <h5>&copy; 2023 Your Website</h5>
    </footer>
</body>
</html>
